@import "animate";

/* Project wide variables */

// Colours
$background: #FDF4F1;
$accent: #149C8B;
$accent-dark: #048574;

// Border radius
$border-radius: 5px;

// Widths
$container-width: 700px;

// Transitions
$default-transition: 0.25s ease-in-out;